<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>107066_Sheetal_Day1Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Answer3.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>Answer3.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Answer2.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrations</display-name>
    <servlet-name>Registrations</servlet-name>
    <servlet-class>Answer1.Registrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrations</servlet-name>
    <url-pattern>/Registrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration1</display-name>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>Answer1.Registration1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration2</display-name>
    <servlet-name>Registration2</servlet-name>
    <servlet-class>Answer2.Registration2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration2</servlet-name>
    <url-pattern>/Registration2</url-pattern>
  </servlet-mapping>
</web-app>